//! **************************************************************************
// Written by: Map P.15xf on Wed Oct 17 10:21:45 2018
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

